* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;   
    overflow-x: hidden;
}

.hero{
    height: 20vh;
    width: 150%;
    background-image: url("../imgs/groupy.jpg");
    background-size: cover;
    margin: 0%;
    padding: 0%;
    margin-top: -15px;;
    margin-left: -15px;
    margin-right: -15px;
}
.logo-wrapper {
    position: absolute;
    height: auto;
    left: 4%;
    top: 1%; 
    width: 160px;
    margin: auto;
    display: block;
    margin: auto;

}

nav{
    width: 100%;
    position: absolute;
    top: 5%;
    left: 40%;
    padding: 20px 8%;
    display: flex;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin: 0 28px;
    border-radius: 3px;
}
nav ul li a{
    text-decoration: none;
    color: #eceae5;
    font-size: 20px;
}
nav ul li a:hover{
    color: #f1b24a;
}
/*..............*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form h1 {
    margin-bottom: 0 auto;
}

.contact-form h1,
#email-address {
    text-align: center;
    margin: 2rem 0;
    margin-top: 0;
}

.form-container {
    width: 100%;
    max-width: 1000px; /*change this one to change form width*/
    padding: 2rem;
}

.inputs-wrapper {
    width: 100%;
}

.input-divs {
    width: 100%;
    margin-bottom: 1rem;
}

.inputs > input, 
.inputs > textarea {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
}